<div style="position:relative" class="z-2 vh-100">
  <div class="bg-white position-absolute start-50 translate-middle" style= "top: 5%">
    <div>
      AA
    </div>
  </div>

  <div class="bg-white position-absolute start-50 translate-middle"  style= "bottom: 10%">
    <div>
      BB
    </div>
  </div>

</div>


<%= render "shared/map" %>
