  <div class="position-absolute start-50 translate-middle z-2 mt-3" style= "top: 15%: width: 90%">
      <div class="mt-3 bg-white"><%= @itinerary_objective.departure_address["full_address"] %></div>
      <div class="mt-3 bg-white"><%= @itinerary_objective.arrival_address["full_address"] %></div>
  </div>

  <div class="bg-white position-absolute start-50 translate-middle d-flex justify-content-between align-items-center rounded-4 z-2" style= "bottom: 5%; width:85%" data-controller="map">
    <div>
        <h4 class="my-1 ms-2"><strong><span id="duration"></span></strong></h4>
        <p class="mb-1 ms-2"><span id="distance"></span></p>
    </div>
    <div>
      <%= link_to "Change my Detour", best_itinerary_itinerary_objective_itineraries_path(@itinerary_objective), class: "text-white text-decoration-none bg-dark p-2 me-2 rounded-4"%>
    </div>
  </div>

<%= render "shared/map", waypoints: @waypoints %>
