<div class="position-relative col-12 col-sm-4 z-2 glass-card-background pe-4" style="height: -webkit-fill-available; padding: 1em 0px;">
 <div class="py-5">
  <div class="liquid-glass p-3 fixed-bottom col-12 col-sm-4 text-light">
    <div class=" z-2 mt-3 px-3">
    <%= render "shared/address", itinerary_objective: @itinerary_objective %>
    </div>

    <div class="rounded-4 z-2 d-flex justify-content-end" data-controller="map">
      <div>
        <h4 class="my-1 ms-2"><strong><span id="duration"></span></strong></h4>
        <p class="mb-1 ms-2"><span id="distance"></span></p>
      </div>

      <div class="btn text-white p-2 me-2 rounded-4 mt-3" style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%)">
        <%= link_to "Change my Detour", best_itinerary_itinerary_objective_itineraries_path(@itinerary_objective), class: "text-decoration-none"%>
      </div>
    </div>
  </div>
</div>

<%= render "shared/map", waypoints: @waypoints %>
