.radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  width: 100%;
  height: 75px;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 500;
}

label:hover {
  color:white;
  background: #000000;
  border: 1px solid #f5d8ee;

  .sub-text {
      color: #f5d8ee;
  }
}

input[type="radio"]:checked + label {
  background:#000000;
  color: rgba(2, 175, 103, 0.876);
  box-shadow: inset 4px 4px 8px #000000, inset -4px -4px 8px #000000;
}

.main-text {
  font-size: 1em;
  font-weight: bold;
}

.sub-text {
  font-size: 0.8em;
  color: #515151;
  font-weight: 300;
}

.direct {
 background: white;
 border: 1px solid black;
}

.max-10 {
background: #f5d8ee;
border: 1px solid black;
}

.max-20 {
background: #bc8dc4;
border: 1px solid black;
}

.long-scroll {
  color: #ffffff;
  border: 1px solid black;
  background: #161273;
}
