.mapboxgl-ctrl-geocoder {
  font-family: raleway;
  font-style: semi-bold;
  border: 1px solid #978dc4;
  border-radius: 8px;
  box-shadow: 0 8px 32px rgba(188, 141, 196, 0.25);
}

.mapboxgl-ctrl-geocoder--input:focus {
  outline: none !important;
}
