<div class="mt-3 bg-white ps-2 pe-3 py-2 w-100 rounded-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= itinerary_objective.departure_address["full_address"] %></div>
<div class="mt-3 bg-white ps-2 pe-3 py-2 w-100 rounded-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= itinerary_objective.arrival_address["full_address"] %></div>
