<ul class="position-sticky sticky-top nav flex-column" style="padding-top: 60px">
  <% itineraries.each do |itinerary| %>
    <li class="nav-item">
      <p><%= itinerary.theme %></p>
    </li>
  <% end %>
</ul>
<div class="black-wall"></div>
