<ul class="position-sticky sticky-top nav flex-column" style="padding-top: 60px">
  <% itineraries.each do |itinerary| %>
    <li class="nav-item">
      <p><%= link_to itinerary.theme, itinerary_objective_itinerary_path(ItineraryObjective.find(itinerary["itinerary_objective_id"]), itinerary) %></p>
    </li>
  <% end %>
</ul>
  <div class="black-wall"></div>
