.go {
  color: #c1d9bc;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #161273;
  border: 1px solid #c1d9bc;
}

.go:hover {
  color: #161273;
  background-color: #c1d9bc;
  border: 1px solid #161273;
  font-weight: 600;
}

