.go {
  color: #ffffff;
  width: 100%;
  height: 60px;
  border-radius: 0.5rem;
  background-color: #00286A;
  border: 1px solid #ffffff;
}

.go:hover {
  color: #00286A;
  background-color: #c1d9bc;
  border: 1px solid #00286A;
  font-weight: 600;
}
