// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap";
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css");
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/login";
@import "pages/signup";
@import "pages/address_autocomplete";
@import "pages/radius_buttons";
@import "pages/search_boxes";
@import "pages/remember_me";


body {
  background: rgb(255, 255, 255);
}

#map::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(79, 79, 79, 0.1);
  pointer-events: none;
  z-index: 1;
}
