// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap";
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css");


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/login";
@import "pages/signup";
@import "pages/address_autocomplete";
@import "pages/search_boxes";
@import "pages/remember_me";
@import "pages/alternatives";

body {
  background: rgb(255, 255, 255);
}


/* === Popup style glassmorphism premium === */
.mapboxgl-popup.glass-popup {
  background: transparent
}

.mapboxgl-popup.glass-popup .mapboxgl-popup-content {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border-radius: 1rem;
  border: 1px solid #bc8dc4;
  box-shadow: 0 8px 32px rgba(188, 141, 196, 0.25);
  color: #161273;
  font-family: 'Poppins', sans-serif;
  transform: scale(0.8);
  padding: 1rem;
}

.mapboxgl-popup.glass-popup p {
  font-size: 9px;
  margin: 0 0 1rem 0;
  color: #2a2356;
}

.mapboxgl-popup.glass-popup button {
  border: none;
  color: black;
  font-size: 30px;
  margin-top: 10px;
  margin-right:5px;
  cursor: pointer;
}

.mapboxgl-popup-tip {
  display:none
}

.mapboxgl-ctrl-geocoder .suggestions {
  position: absolute;
  bottom: 100% !important;
  top: auto !important;
  margin-bottom: 5px;
}
